<section class="world-container">

  <header class="world-header">
    <h1>Mundo</h1>
    <p>Las reglas que rigen la realidad de este universo</p>
  </header>

  <div class="world-grid">

    <!-- TARJETA CALENDARIO -->
    <article class="world-card" (click)="goTo('calendario')">
      <div class="card-visual calendario"></div>
      <div class="card-content">
        <h2>Calendario</h2>
        <p>
          El tiempo se mide a través de las calendas, flores que marcan el paso de las estaciones.
        </p>
      </div>
    </article>

  </div>
</section>