<div [ngClass]="seasonClass()" class="global-season-bg">
  <!-- PRIMAVERA -->
  <div class="pollen-layer">
    <span *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]"></span>
  </div>

  <!-- VERANO -->
  <div class="sun-layer">
    <span *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]"></span>
  </div>

  <!-- OTOÑO -->
  <div class="autumn-layer">
    <span *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]"></span>
  </div>

  <!-- INVIERNO -->
  <div class="winter-layer">
    <span *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]"></span>
  </div>
</div>

<header class="main-header">
  <h1 class="title">Artemia</h1>
  <p class="subtitle">Explora un mundo de historia, magia y conflicto.</p>

  <nav>
    <a routerLink="">Inicio</a>
    <a routerLink="/mundo">Mundo</a>
    <a routerLink="/historia">Historia</a>
    <a routerLink="/civilizaciones">Civilizaciones</a>
    <a routerLink="/magia">Magia</a>
    <a routerLink="/poderes">Poderes</a>
    <a routerLink="/personajes">Personajes</a>
    <a routerLink="/relatos">Relatos</a>
  </nav>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>

