<header class="main-header">
  <h1 class="title">Artemia</h1>
  <p class="subtitle">Explora un mundo de historia, magia y conflicto.</p>

  <nav>
    <a routerLink="">Inicio</a>
    <a routerLink="/mundo">Mundo</a>
    <a routerLink="/historia">Historia</a>
    <a routerLink="/paises">Países</a>
    <a routerLink="/razas">Razas</a>
    <a routerLink="/facciones">Facciones</a>
    <a routerLink="/magia">Magia</a>
    <a routerLink="/personajes">Personajes</a>
    <a routerLink="/aventuras">Aventuras</a>
  </nav>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>