<header class="main-header">
  <h1 class="title">Artemia</h1>
  <p class="subtitle">Explora un mundo de historia, magia y conflicto.</p>

  <nav>
    <a routerLink="">Inicio</a>
    <a routerLink="/mundo">Mundo</a>
    <a routerLink="/historia">Historia</a>
    <a routerLink="/civilizaciones">Civilizaciones</a>
    <a routerLink="/magia">Magia</a>
    <a routerLink="/poder">Poder</a>
    <a routerLink="/personajes">Personajes</a>
    <a routerLink="/relatos">Relatos</a>
  </nav>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>